<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	@{import('meta', 'head', 'default.css', 'default.js', 'favicon.ico')}
</head>

<body>


	<div class="container">
		<div class="header">

		</div>
		<div class="menu">
			<a href="/">HOME</a>
			<a href="/tools">TOOLS</a>
			<a href="/vuecomp"> VUE COMPONENTS </a>
			<a href="/about">ABOUT</a>
		</div>
		<div class="content">
			@{body}
		</div>
		<div class="footer">
			Thank you for using <a href="https://github.com/edutucci/vuejs-totaljs-project"><b>vuejs-totaljs-project</b></a>.
		</div>
	</div>

	@{import('app.js')}
</body>

</html>