body, html {
    width: auto;
    height: auto;
    background-color:lightblue;
}

.container{
    height:100%;
    width: auto;
}

.header {
    width: 100%;
    height: 100px;
    background-image: url("/img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    width: 100%;
    height: 50px;
    background-color:#6699ff;
    color: white;
    text-align: right;
    line-height: 50px;
}

.menu a {
    vertical-align:middle;
}

.menu a{
    display: inline;
    padding: 0px 5px;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color:  white;
}

.content {
    width: auto;
    height: 100%;
    background-color: white;
}

.divflex{
    display: flex;
    width: 100%;
    margin:auto;
}

.divflexcenter{
    justify-content: center;
}

.divframe{
    width:100%; 
}

.footer {
    clear: both;
    width: 100%;
    background-color: #6699ff;
    color: white;
    text-align: center; 
}

